.App {
  display: flex;
  flex-direction: column;
}

.bodyContainer {
  background-color: rgb(233, 233, 233);
  flex: 1 100%; 
  display: flex;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

.stockBody {
  
  display: flex;
  flex-direction: row;
  overflow: auto;
  background-color: rgb(233, 233, 233);
  flex: 1;
  padding-left: 50px;

}

.stockBody::-webkit-scrollbar {
  display: none;
}

.stockTitle {
  margin: 25px 0 0 60px;
  font-size: 1em;
}

.stockTitle:first-of-type {
  margin-top: 35px;
}

.stockCard {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 650px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0px rgba(163,163,163,1);
  margin: 10px;
  color: black;
}

.stockCard:last-of-type {
  margin-right: 50px;
}

.stockTitleDetails {
  display: flex;
  flex-direction: row;
  margin: 10px 18px 0 18px;
  flex: 1;
  align-items: flex-end;
}

.stockName {
  font-size: 1.2em;
  margin: 0;
  line-height: 1;
}

.stockSymbol {
  font-size: 0.8em;
  margin: 0;
  color: grey;
}

.stockDetails {
  display: flex;
  flex-direction: row;
  margin: 0 18px 0 18px;
  flex: 1;
  align-items: flex-end;
}

.stockDetailsText {
  margin: 0px;
  font-size: 1em;
}

.stockDetailsStats {
  margin: 0;
  font-size: 0.8em;
}

.stockChart {
  display: flex;
  flex: 5;
  width: 100%;
  min-height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lineChart {
  font-size: 12px;
}

.watchlistBody {
  display: flex;
  flex: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
